/* http://meyerweb.com/eric/tools/css/reset/  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

table {
  border-spacing: 0;
}
/* Your Code Goes Here */
#nav-header {
  background: #a9b3bd;
  padding: 2rem 0;
}
#nav-header .logo {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
}
#nav-header .menu-btn {
  position: absolute;
  z-index: 999;
  right: 35px;
  top: 10px;
  cursor: pointer;
}
#nav-header .menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #ffffff;
}
#nav-header .menu-btn.close {
  transform: rotate(180deg);
}
#nav-header .menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#nav-header .menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
#nav-header .menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
#nav-header .nav-container {
  display: flex;
  justify-content: center;
}
#nav-header .nav-container .nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}
#nav-header .nav-container .nav-links.hide {
  display: none;
}
#nav-header .nav-container .nav-links a {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;
  text-decoration: none;
}
#nav-header .nav-container .nav-links a:hover {
  color: #222222;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
}

p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.jumbo {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
}

#main #main-header .bg {
  background-image: url("/img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 0 3rem 0;
}
#main #main-header .bg .jumbo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80%;
}
#main #main-header .bg .jumbo h2 {
  padding: 0 0 0 3rem;
}
#main .section {
  display: flex;
  padding: 4rem;
}
#main .section .text-content {
  width: 50%;
  align-self: center;
}
#main .section .text-content h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin-bottom: 1rem;
  margin: 0 0 4rem 0;
}
#main .section .img-content {
  width: 50%;
  padding: 2rem;
}
#main .section .img-content img {
  max-width: 100%;
  width: 80%;
  margin: 0 0 2rem 0;
}
#main #projects {
  padding: 0 4rem;
}
#main #projects h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin-bottom: 1rem;
}
#main #projects .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
#main #projects .project .project-text {
  width: 50%;
  margin: 2rem 0;
  line-height: 5rem;
}
#main #projects .project-head {
  display: flex;
  flex-direction: column;
}
#main #projects .project-head img {
  width: 100%;
}
#main #projects .project-head h2 {
  background: #d8d8d8;
  text-align: center;
  width: 25%;
  padding: 2rem 1rem;
  margin-top: -3rem;
  margin-bottom: 3rem;
  z-index: 99;
}
#main #projects .project-1 .project-head {
  align-items: flex-end;
}
#main #projects .project-2 .project-head {
  align-items: flex-start;
}
#main #projects .project-3 .project-head {
  align-items: flex-end;
}

.service-head img {
  width: 100%;
  max-width: 100%;
}
.service-head h2 {
  margin: -10rem 0 5rem 5rem;
}

#services {
  padding: 0 4rem;
  margin: 0 4rem 4rem 4rem;
}
#services .tab-links {
  display: flex;
  justify-content: space-between;
}
#services .tab-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 4rem;
}
#services .tab-content .tab-text {
  width: 50%;
}
#services .tab-content .tab-text h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin-bottom: 1rem;
}
#services .tab-content .tab-img {
  width: 50%;
  text-align: center;
}
#services .tab-content .tab-img img {
  display: flex;
  display: none;
  max-width: 100%;
}
#services .tab-content .tab-img img.img-active {
  display: flex;
  margin: 0 auto;
}

.btn {
  margin: 2rem 0;
  padding: 1.6rem 5rem;
  background: #ffffff;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
}
.btn.learn:hover {
  background: #5e9fb9;
  color: #ffffff;
}
.btn.link {
  font-size: 3rem;
}
.btn.link:hover {
  color: #ffffff;
  background: #222222;
}
.btn.active-tab {
  background: #5e9fb9;
  color: #ffffff;
}

footer {
  background: #828282;
  font-weight: regular;
  font-size: 1.3rem;
  line-height: 2.6rem;
  color: #ffffff;
  padding: 4rem 0 0 0;
}
footer span {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}
footer .ft-head {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
footer .ft-flex {
  display: flex;
  justify-content: space-evenly;
}
footer .ft-connect input {
  border-radius: 3px;
  height: 10%;
  width: 98%;
  outline: none;
  border: 0;
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  footer .ft-flex {
    flex-direction: column;
    padding: 0 0 0 2rem;
  }
  footer .ft-connect .ft-head {
    margin: 1rem 0;
  }
  footer .ft-connect input {
    width: 70%;
    margin: 1rem 0;
  }
  footer .ft-head {
    margin: 1.6rem 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  #main #main-header .bg {
    height: 50vh;
  }
  #main #main-header .bg h2 {
    padding: 0;
    font-size: 5rem;
  }
  #main .section {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #main .section .text-content {
    width: 100%;
  }
  #main .section .img-content {
    width: 100%;
    padding: 0;
  }
  #main .section .img-content img {
    width: 100%;
    max-width: 100%;
  }
  #main .section.intro .text-content {
    text-align: center;
    order: 1;
  }
  #main .section.intro .img-content {
    order: 0;
  }
  #main .section.designs .text-content {
    text-align: center;
  }
  #main #projects {
    padding: 0;
  }
  #main #projects .project {
    margin: 0;
  }
  #main #projects .project .project-text {
    width: 100%;
    text-align: center;
  }
  #main #projects .project .project-head h2 {
    width: 80%;
    align-items: center;
    margin-top: -2rem;
  }
  #main #projects .project-1 .project-head, #main #projects .project-2 .project-head, #main #projects .project-3 .project-head {
    align-items: center;
  }

  .service-head {
    margin: 0 0 3rem 0;
  }

  #services {
    margin: 0 0 4rem 0;
    padding: 0 2rem;
  }
  #services .tab-links {
    text-align: center;
    flex-direction: column;
  }
  #services .tab-content {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  #services .tab-content .tab-text {
    width: 100%;
    margin: 2rem 0;
  }
  #services .tab-content .tab-text h2 {
    margin: 0 0 2rem 0;
  }
  #services .tab-content .tab-img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
